/* =========================================
   MAIN SECTION
========================================= */

.ai-welcome-section{

  position: relative;

  width: 100%;

  min-height: calc(100vh - 78px);

  background:
  radial-gradient(circle at top,
  rgba(0,255,255,.12),
  transparent 40%),
  #020617;

  overflow: hidden;

  display: flex;

  align-items: center;

  justify-content: space-between;

	padding: 10px 20px 30px;

  gap: 10px;

  flex-wrap: wrap;
}

/* =========================================
   LEFT
========================================= */

.welcome-left{

  flex: 1;

  display: flex;

  align-items: center;

  justify-content: center;

  min-width: 300px;
}

.welcome-logo{

  width: 100%;

  max-width: 280px;

  object-fit: contain;

  filter:
  drop-shadow(0 0 0px black);
}

/* =========================================
   CENTER
========================================= */

.welcome-center{

  flex: 1;

  min-width: 280px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  gap: 22px;

  z-index: 5;
}

.welcome-center h1{

  font-size:clamp(
  2.2rem,
  5vw,
  4.7rem
);

  line-height: 1.2;

  font-weight: 800;

  text-transform: uppercase;
  
  word-break:break-word;
  
  overflow-wrap:break-word;

  background:
  linear-gradient(
  90deg,
  #00e5ff,
  #b026ff
  );

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.welcome-center h1 span{

  display: block;

  font-size: 2rem;

  margin-bottom: 10px;

  letter-spacing: 5px;

  color: #94a3b8;

  -webkit-text-fill-color: #94a3b8;
}

.typing-text{

  font-size: 1.1rem;

  color: #c084fc;

  font-weight: 550;

  min-height: 30px;

  display: flex;

  align-items: center;

  gap: 8px;
}

.welcome-description{

  max-width: 480px;

  line-height: 1.8;

  color: #cbd5e1;

  font-size: 1.05rem;
}

.welcome-btn{

  width: fit-content;

  padding: 1px 1px;

  border: none;

  border-radius: 1px;

  font-size: 0.8rem;

  font-weight: 500;

  cursor: pointer;

  color: white;

  background:
  linear-gradient(
  90deg,
  #00e5ff,
  #7c3aed
  );

  transition: .4s;

  box-shadow:
  0 0 30px rgba(0,229,255,.4);
}

.welcome-btn:hover{

  transform: translateY(-5px) scale(1.03);

  box-shadow:
  0 0 45px rgba(124,58,237,.7);
}

/* =========================================
   RIGHT
========================================= */

.welcome-right{

  flex:1;

  min-width:250px;

  position:relative;

  display:flex;

  flex-direction:column;

  align-items:center;

  justify-content:center;

  gap:20px;

  z-index:2;
}

/* =========================================
   AVATAR
========================================= */

.welcome-avatar{

  width: 100%;

  max-width: 300px;
  
  padding: 40px 0 0;

  z-index: 5;

  position: relative;

  animation: floatAvatar 5s ease-in-out infinite;
}

@keyframes floatAvatar{

  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-20px);
  }

  100%{
    transform: translateY(0px);
  }
}

/* =========================================
   AVATAR TALKING
========================================= */

.welcome-avatar.talking{

  animation:
  talkGlow .8s infinite alternate;
}

@keyframes talkGlow{

  from{

    filter:
    drop-shadow(0 0 10px #00e5ff);
  }

  to{

    filter:
    drop-shadow(0 0 35px #b026ff);
  }
}

/* =========================================
   RING
========================================= */

.avatar-ring{

  position:absolute;

  width:320px;

  height:380px;

  border-radius:50%;

  border:
  2px solid rgba(0,205,180,.7);

  background:
  radial-gradient(
    circle at center,
    rgba(0,255,255,.08),
    transparent 70%
  );

  box-shadow:
  0 0 20px cyan,
  inset 0 0 10px rgba(0,255,255,.5);

  z-index:5;

  overflow:hidden;

  animation:
  rotateRing 8s linear infinite,
  pulseZoom 4s ease-in-out infinite;
}

/* ===================================
   SPRING RUNNING LIGHT
=================================== */

.avatar-ring::before{

  content:"";

  position:absolute;

  inset:-30px;

  border-radius:50%;

  background:
  conic-gradient(
    from 0deg,
    transparent,
    rgba(0,255,255,.9),
    transparent,
    rgba(255,0,255,.9),
    transparent
  );

  animation:
  ringFlow 3s linear infinite;

  filter:blur(6px);
}

/* ===================================
   INNER GLOW
=================================== */

.avatar-ring::after{

  content:"";

  position:absolute;

  inset:18px;

  border-radius:50%;

  border:
  1px solid rgba(255,255,255,.12);

  box-shadow:
  inset 0 0 15px rgba(0,255,255,.25);
}

/* ===================================
   ROTATE
=================================== */

@keyframes rotateRing{

  from{

    transform:
    rotate(0deg);
  }

  to{

    transform:
    rotate(360deg);
  }
}

/* ===================================
   RUNNING SPRING EFFECT
=================================== */

@keyframes ringFlow{

  from{

    transform:
    rotate(0deg)
    scale(1);
  }

  to{

    transform:
    rotate(360deg)
    scale(1.05);
  }
}

/* ===================================
   ZOOM IN OUT
=================================== */

@keyframes pulseZoom{

  0%{

    transform:
    scale(1);
  }

  50%{

    transform:
    scale(1.06);
  }

  100%{

    transform:
    scale(1);
  }
}

/* =========================================
   PLATFORM
========================================= */

.avatar-platform{

  position:absolute;

  bottom:80px;

  width:300px;

  height:40px;

  background:
  radial-gradient(
  circle,
  rgba(0,229,255,.45),
  transparent 70%
  );

  border-radius:50%;

  filter:blur(12px);
}

/* =========================================
   CHAT BUBBLE
========================================= */

.chat-bubble{

  position: absolute;
  display:none;

  top: 20px;

  right: 0;

  background:
  rgba(15,23,42,.85);

  border: 1px solid rgba(255,255,255,.1);

  backdrop-filter: blur(8px);

  padding: 10px 15px;

  border-radius: 8px;

  color: white;

  font-weight: 100;

  z-index: 10;

  box-shadow:
  0 0 30px rgba(0,229,255,.15);
}

/* =========================================
   CONTROLS
========================================= */

.voice-controls{

  position:relative;

  display:flex;

  align-items:center;

  justify-content:center;

  gap:18px;

  margin-top:-90px;

  z-index:20;
}

.mic-toggle{

  width: 40px;

  height: 40px;

  border-radius: 50%;

  border: none;

  cursor: pointer;

  font-size: 1.2rem;

  display: flex;

  align-items: center;

  justify-content: center;

  color: white;

  background:
  linear-gradient(
  135deg,
  #00e5ff,
  #7c3aed
  );

  box-shadow:
  0 0 25px rgba(0,229,255,.35);

  transition: .3s;
}

.mic-toggle:hover{

  transform: scale(1.08);
}

.mic-toggle.recording{

  animation:
  pulseMic 1s infinite;
}

@keyframes pulseMic{

  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.12);
  }

  100%{
    transform: scale(1);
  }
}

/* =========================================
   LOCK BUTTON
========================================= */

.mic-lock-btn{

  position: absolute;

  bottom: 50px;

  right: 55%;

  transform: translateX(50%);

  width: 35px;

  height: 35px;

  border-radius: 50%;

  border: none;

  background:
  linear-gradient(
  135deg,
  #06b6d4,
  #9333ea
  );

  color: white;

  font-size: 0.8rem;

  cursor: pointer;

  z-index: 20;
}

/* =========================================
   BOTTOM RUNNING GLOW
========================================= */

.ai-welcome-section::after{

  content:"";

  position:absolute;

  bottom:0;
  left:0;

  width:100%;

  height:2px;

  background:
  linear-gradient(
    90deg,
    transparent,
    cyan,
    #ff00ff,
    cyan,
    transparent
  );

  background-size:220%;

  animation:welcomeGlow 3s linear infinite;

  z-index:20;

  pointer-events:none;
}

/* GLOW ANIMATION */

@keyframes welcomeGlow{

  0%{
    background-position:0%;
  }

  100%{
    background-position:220%;
  }
}

/* =========================================
   MOBILE AIWELCOME FIX
========================================= */

@media(max-width:768px){

  .ai-welcome-section{

    min-height:auto;

    padding:
    100px 15px 60px;

    display:flex;

    flex-direction:column;

    justify-content:flex-start;

    overflow:hidden;
  }

  /* LOGO */

/* LOGO LEFT SIDE FIX */

.welcome-left{

  position:absolute;

  top:2px;

  left:-90px;

  z-index:20;
}

.welcome-logo{

  width:95px;

  height:auto;

  object-fit:contain;

  opacity:.95;
}

  /* CENTER TEXT */

  .welcome-center{

    width:100%;
	
	padding-top:20px;

    padding-right:120px;

    text-align:left;

    align-items:flex-start;

    z-index:5;
  }

  .welcome-center h1{

    font-size:1.5rem;

    line-height:1.2;

    margin-bottom:10px;
  }

  .welcome-center h1 span{

    font-size:.7rem;

    letter-spacing:2px;
  }

  .typing-text{

    font-size:.8rem;

    max-width:220px;

    line-height:1.4;
  }

  /* RIGHT AVATAR */

  .welcome-right{

    position:absolute;

    top:-20px;
    right:-50px;

    width:280px;

    display:flex;

    flex-direction:column;

    align-items:center;
  }

  .welcome-avatar{

    width:180px;

    height:auto;

    object-fit:contain;
  }

    .avatar-ring{

    position:absolute;

    width:180px;

    height:240px;

    border-radius:50%;

    border:
    1px solid rgba(0,255,255,.7);

    box-shadow:
    0 0 20px blue,
    inset 0 0 20px blue;

    z-index:5;
  }

  .avatar-platform{

    width:90px;
  }

  /* CHAT */

  .chat-bubble{
	  display:none;

    font-size:.4 3rem;

    padding:8px 12px;

    max-width:120px;

    bottom:-5px;
  }

  /* CONTROLS */

  .voice-controls{

    margin-top:10px;

    gap:10px;
	bottom:60px;

    justify-content:center;
  }

  .mic-toggle{

    width:34px;
    height:34px;

    font-size:1.2rem;
  }

  /* LOCK BUTTON */

  .mic-lock-btn{

    width:38px;
    height:38px;

    right:0;
  }
}