/* ===================================
   GLOBAL
=================================== */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  background:#020617;

  font-family:Poppins,sans-serif;

  overflow-x:hidden;

  color:white;
}






/* ===================================
   FULL PAGE LAYOUT FIX
=================================== */

html,
body,
#root{

  width:100%;
  min-height:100%;

  margin:0;
  padding:0;
}

body{

  min-height:100vh;

  display:flex;
  flex-direction:column;
}

/* APP FULL HEIGHT */

.app{

  min-height:100vh;

  display:flex;
  flex-direction:column;
}

/* MAIN CONTENT AUTO HEIGHT */

.main-content{

  flex:1;
}

/* ===================================
   NAVBAR TOP FIX
=================================== */

.navbar{

  position:sticky;

  top:0;

  left:0;

  width:100%;

  z-index:9999;
}

/* ===================================
   FOOTER BOTTOM FIX
=================================== */

.footer{

  margin-top:auto;

  width:100%;
}

/* WINDOWS + MOBILE SAFE */

@media(max-width:768px){

  body{

    min-height:100dvh;
  }

  .app{

    min-height:100dvh;
  }
}

